<nav
  class="navbar fixed-top navbar-expand navbar-dark"
  style="background-color: #005ed8"
>
  <div class="container">
    <a class="navbar-brand"><b>Todo</b>APP</a>
    <% if(user){ %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if(user.isAdmin){ %>
        <a class="nav-link" href="/admin/logout">Logout <%- user.email %></a>
        <% }else{ %>
        <a class="nav-link" href="/auth/logout">Logout <%- user.email %></a>
        <% } %>
      </li>
    </ul>
    <% } %>
  </div>
</nav>
<div class="mt-5 pt-5"></div>

<%- include('message') -%>
