<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs', {title: "Update Todo"}) -%>
  </head>
  <body>
    <%- include('navbar') %>

    <div class="container">
      <div class="container mt-5">
        <form method="POST" class="form-inline">
          <div class="form-group">
            <label for="updatetodo">
              Update Todo :
            </label>
            <input
              type="text"
              id="updatetodo"
              class="form-control ml-2"
              name="todo"
              value="<%- data.title %>"
            />
            <input type="submit" value="Update" class="btn btn-success ml-2" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
