extends layout

block content
  h2 Add New User
  div
    include userForm
    //- form(action="", method="post")
    //-   p Name :
    //-     input(type="text", name="name")
    //-   p Email :
    //-     input(type="text", name="email")
    //-   p
    //-     input(type="submit", value="Add")
