doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/main.css")
    body
        h1 Create New Todo
        form(action="/todo", method="post")
            p Title : 
                input(type="text" name="title")
            p 
                input(type="submit", value="Submit")