extends parts/layout


block content
    h2 Create New Todo
    form(method="post")
        p Title : 
            input(type="text" name="todo")
        p 
            input.btn.btn-primary(type="submit", value="Submit")

    div
        hr
        h2 Todo List
        hr
        - 
        each todo in todos
            div
                p #{todo.title}
                - let editLink = "todo/update/" + todo._id;
                a.btn.btn-outline-success(href=editLink) Edit
                |
                - let deleteLink = "todo/delete/" + todo._id;
                a.btn.btn-outline-danger(href=deleteLink) Delete
            hr
